.header   
{
	background-color:rosybrown;
	background-size: cover;
    font-size:600%;
    color:white;
    font-family: french script MT regular;
}
.bg1
{
	background-color:mistyrose ;
		background-size: cover;
		padding:1%;

}
.fonts
{
    font-family: french script MT regular;
    font-size: 250%;
    color:white;

}
.fonts h1
{
	font-size: 200%;
}
.bgimage
{
	background-color:seashell;
}



.body2 p
{
	
	font-family:Edwardian Script ITC Regular;	
	color:grey;


}
.fonts1 h1
{
	color:white;
	font-size: 300%;
	font-family:Edwardian Script ITC Regular;	
}
.forms p
{
	font-size:350%;
	font-family:Edwardian Script ITC Regular;	
	color:grey;
	background-color:mistyrose;
}
.forms h1
{
	font-family: french script MT regular;
	font-family: 350%; 
	color:palevioletred;
}
.form
{
	background-color:mistyrose;
}
.forms h2 option
{
	font-family: french script MT regular;
	font-family: 350%; 
	color:grey;
}

.forms input
{
	color: grey;
}

.fonts4 h1
{
	font-size:300%;
}
.fonts4 p
{
	font-family: french script MT regular;
	font-size: 240%;
}
.recipeform h1
{
	font-size:330%;
	font-family:Edwardian Script ITC Regular;
	color:white;

}

.recipeform p
{
	font-family: french script MT regular;
	font-size: 250%;

}
.footer1
{
	background-color: rosybrown;
	background-size: cover;
}
.footer1 p
{
	font-family:Edwardian Script ITC Regular;
	font-size:300%;
	color:white; 
}
a.hover10
{
color:pink;
}



